CREATE DATABASE InteriorManagement
GO
USE InteriorManagement
GO
CREATE TABLE KHACHHANG(
	MAKH INT IDENTITY(1,1) PRIMARY KEY,
	TENKH NVARCHAR(100) NOT NULL,
	SDT VARCHAR(12) ,
	DIACHIKH NVARCHAR(100)
)
GO
CREATE TABLE NHANVIEN(
	MANV NVARCHAR(50) PRIMARY KEY ,
	TENNV NVARCHAR(100) NOT NULL,
	PHAI INT,
	SDT VARCHAR(12) ,
	DIACHINV NVARCHAR(100),
	HINH image,
	NGAYVAOLAM DATETIME,
	MATKHAU NVARCHAR(100),
	LUONG MONEY,
	QUYENHAN INT
)
GO
CREATE TABLE SANPHAM(
	MASP INT IDENTITY(1,1) PRIMARY KEY,
	TENSP NVARCHAR(100) NOT NULL,
	DVTINH NVARCHAR(100),
	GIABAN INT,
	SOLUONG INT,
	MALOAI INT
)
GO
CREATE TABLE LOAISP(
	MALOAI INT IDENTITY(1,1) PRIMARY KEY,
	TENLOAI NVARCHAR(100) NOT NULL
)
GO
CREATE TABLE HOADON(
	SOHD INT IDENTITY(1,1)PRIMARY KEY,
	NGAYXUAT DATE,
	MANV NVARCHAR(50),
	MAKH INT
)
GO
CREATE TABLE CTHOADON(
	SOHD INT,
	MASP INT,
	DONGIA INT,
	SOLUONG INT
	
	PRIMARY KEY(SOHD,MASP)
)
GO
CREATE TABLE PHIEUNHAP(
	SOPN INT IDENTITY(1,1) PRIMARY KEY,
	NGAYNHAP DATE,
	MANCC INT
)
GO
CREATE TABLE CTPHIEUNHAP(
	SOPN INT,
	MASP INT,
	SOLUONG INT,
	DONGIA INT
	
	PRIMARY KEY(SOPN,MASP)
)
GO
CREATE TABLE NHACC(
	MANCC INT IDENTITY(1,1) PRIMARY KEY,
	TENNCC NVARCHAR(100) NOT NULL UNIQUE,
	DIACHI NVARCHAR(100),
	SDT VARCHAR(12) ,
	EMAIL NVARCHAR(100) ,
	FAX VARCHAR(12)
)
GO

-- ADD KHOA NGOAI 
ALTER TABLE SANPHAM 
ADD CONSTRAINT FK_MALOAI FOREIGN KEY (MALOAI) REFERENCES LOAISP(MALOAI)
ALTER TABLE HOADON
ADD CONSTRAINT FK_MANV FOREIGN KEY (MANV) REFERENCES NHANVIEN(MANV)
ALTER TABLE HOADON
ADD CONSTRAINT FK_MAKH FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
ALTER TABLE CTHOADON
ADD CONSTRAINT FK_SOHD FOREIGN KEY (SOHD) REFERENCES HOADON(SOHD)
ALTER TABLE CTHOADON
ADD CONSTRAINT FK_MASP FOREIGN KEY (MASP) REFERENCES SANPHAM(MASP)
ALTER TABLE PHIEUNHAP
ADD CONSTRAINT FK_MANCC FOREIGN KEY (MANCC) REFERENCES NHACC(MANCC)
ALTER TABLE CTPHIEUNHAP
ADD CONSTRAINT FK_MASP2 FOREIGN KEY (MASP) REFERENCES SANPHAM(MASP)
ALTER TABLE CTPHIEUNHAP
ADD CONSTRAINT FK_SOPN FOREIGN KEY (SOPN) REFERENCES PHIEUNHAP(SOPN)

-- ADD RANG BUOC
ALTER TABLE NHANVIEN ADD CONSTRAINT CHECK_LUONG CHECK(LUONG > 0)
ALTER TABLE CTPHIEUNHAP ADD CONSTRAINT CHECK_DONGIA CHECK(DONGIA > 0)
ALTER TABLE SANPHAM ADD CONSTRAINT CHECK_SANPHAM CHECK(GIABAN > 0)
ALTER TABLE SANPHAM ADD CONSTRAINT CHECK_SOLUONG_SP CHECK(SOLUONG > -1)
GO
-- TRIGGER
CREATE TRIGGER AMOUNT_UPDATE_CTHOADON ON CTHOADON
FOR INSERT,UPDATE
AS
	DECLARE @AMOUNT INT
	IF((SELECT SOLUONG FROM DELETED) > 0)
		SET @AMOUNT = (SELECT SOLUONG FROM DELETED)
	ELSE
		SET @AMOUNT = 0	
		
	IF((SELECT SOLUONG FROM SANPHAM WHERE MASP = (SELECT MASP FROM INSERTED)) > (SELECT SOLUONG FROM INSERTED))
	BEGIN
		UPDATE SANPHAM SET SOLUONG = SOLUONG - (SELECT SOLUONG FROM INSERTED) + @AMOUNT
		WHERE SANPHAM.MASP = (SELECT MASP FROM INSERTED)
	END
	ELSE
		PRINT N'SẢN PHẨM ĐÃ HẾT !'
	
GO

CREATE TRIGGER AMOUNT_DELETE_CTHOADON ON CTHOADON
FOR DELETE
AS
		UPDATE SANPHAM SET SOLUONG = SOLUONG + (SELECT SOLUONG FROM DELETED)
		WHERE SANPHAM.MASP = (SELECT MASP FROM DELETED)
	
GO

CREATE TRIGGER AMOUNT_UPDATE_CTPHIEUNHAP ON CTPHIEUNHAP
FOR INSERT,UPDATE
AS
	DECLARE @AMOUNT INT
	IF((SELECT SOLUONG FROM DELETED) > 0)
		SET @AMOUNT = (SELECT SOLUONG FROM DELETED)
	ELSE
		BEGIN
		SET @AMOUNT = 0	
		END
		
	UPDATE SANPHAM SET SOLUONG = SOLUONG + (SELECT SOLUONG FROM INSERTED) - @AMOUNT
	WHERE SANPHAM.MASP = (SELECT MASP FROM INSERTED)
GO

CREATE TRIGGER AMOUNT_DELETE_CTPHIEUNHAP ON CTPHIEUNHAP
AFTER DELETE
AS
		 Declare @SOLUONGCON Int
		 Declare @SOLUONGTRU Int
		 SET @SOLUONGCON = (SELECT SOLUONG FROM SANPHAM WHERE SANPHAM.MASP = (SELECT MASP FROM DELETED))
		 SET @SOLUONGTRU = (SELECT SOLUONG FROM DELETED)
		IF(@SOLUONGCON - @SOLUONGTRU >= 0)
			BEGIN
				UPDATE SANPHAM SET SOLUONG = SOLUONG - (SELECT SOLUONG FROM DELETED)
				WHERE SANPHAM.MASP = (SELECT MASP FROM DELETED)	
			END
		ELSE
			BEGIN
				Print N'SO LUONG = '+ Cast((@SOLUONGCON - @SOLUONGTRU) as varchar(15));
				ROLLBACK TRAN
			END
GO

-- INSERT
INSERT NHANVIEN VALUES('DH01',N'NINH CÔNG MINH',1,0924439391,N'QUẬN 12',NULL,'2019/04/18',1111,1000000,0)

-- ADD LOAI SAN PHAM
INSERT LOAISP (TENLOAI)VALUES(N'GHẾ')
INSERT LOAISP (TENLOAI) VALUES(N'GIƯỜNG')
INSERT LOAISP (TENLOAI)VALUES(N'TỦ')

INSERT SANPHAM VALUES(N'GHẾ ITALIA','CÁI',100000,0,1)
INSERT SANPHAM VALUES(N'GIƯỜNG ITALIA','CÁI',110000,0,2)
INSERT SANPHAM VALUES(N'TỦ ITALIA','CÁI',120000,0,3)

INSERT NHACC VALUES(N'Nguyễn Minh Trí',N'Phú Nhuận','0123456789','minhtri@gmail.com','444556667')
INSERT NHACC VALUES(N'Bùi Gà',N'Quận 6','012456789','buiga@gmail.com','444556665')
INSERT NHACC VALUES(N'Công Đức',N'Quận 7','0223355448','congduc@gmail.com','444556666')

INSERT PHIEUNHAP VALUES('2018-04-29',1)
INSERT PHIEUNHAP VALUES('2019-04-29',2)
INSERT PHIEUNHAP VALUES('2018-04-29',3)

INSERT CTPHIEUNHAP VALUES(1,1,10,80000)
INSERT CTPHIEUNHAP VALUES(1,2,10,90000)
INSERT CTPHIEUNHAP VALUES(2,3,10,100000)

INSERT KHACHHANG VALUES (N'Khánh Đông','0123456789',N'Quận 12')
INSERT KHACHHANG VALUES (N'Văn Nghi','0124456788',N'Hóc Môn')

INSERT HOADON VALUES('2018-04-29','DH01',1)
INSERT HOADON VALUES('2018-04-29','DH01',2)
INSERT HOADON VALUES('2019-05-01','DH01',1)

INSERT CTHOADON VALUES(1,1,100000,5) -- 1 : 1000 , 2 : 1500
INSERT CTHOADON VALUES(1,2,110000,5)
INSERT CTHOADON VALUES(2,3,120000,5)

SELECT * FROM CTPHIEUNHAP WHERE MASP = 6
/*
DELETE FROM CTHOADON WHERE SOHD = 1 AND MASP = 1
DELETE FROM CTPHIEUNHAP WHERE SOPN = 1 AND MASP = 1

SELECT * FROM CTPHIEUNHAP WHERE SOPN = 1
SELECT * FROM HOADON
SELECT * FROM CTHOADON WHERE SOHD = 2
SELECT * FROM KHACHHANG
SELECT * FROM NHACC
SELECT TOP 1 * FROM PHIEUNHAP ORDER BY SOPN DESC
SELECT TOP 1 * FROM NHACC
SELECT TOP 1 * FROM NHACC ORDER BY MANCC DESC
SELECT SUM(SOLUONG) FROM CTHOADON WHERE MASP = 2
SELECT * FROM HOADON
SELECT * FROM SANPHAM
SELECT * FROM PHIEUNHAP
SELECT * FROM CTPHIEUNHAP
SELECT * FROM CTHOADON
SELECT * FROM NHANVIEN
SELECT * FROM LOAISP

SELECT * FROM CTPHIEUNHAP CT,SANPHAM SP WHERE CT.MASP = SP.MASP AND CT.SOPN = 1 AND SP.MASP = '123' 
SELECT SP.TENSP,SP.DVTINH,CT.DONGIA,CT.SOLUONG,LS.TENLOAI 
FROM CTPHIEUNHAP CT , SANPHAM SP , LOAISP LS 
WHERE CT.MASP = SP.MASP AND SP.MALOAI = LS.MALOAI 
SELECT * FROM SANPHAM SP,LOAISP LS WHERE SP.MALOAI = LS.MALOAI

UPDATE SANPHAM SET SOLUONG = 10
UPDATE CTPHIEUNHAP SET SOLUONG = 20 WHERE SOPN = 1 AND MASP = 1

DELETE FROM CTPHIEUNHAP WHERE SOPN = 4 AND MASP = 2
DELETE FROM SANPHAM WHERE MASP = '147'
DELETE FROM PHIEUNHAP 
DELETE FROM NHACC 
DELETE FROM NHANVIEN
*/